#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

config CONFIG_REALTEK_APP_LEA_CAP_ACCEPTOR 
   bool 
   default y

rsource "../../../Kconfig"
