#
# Copyright (c) 2026, Realtek Semiconductor Corporation
#
# SPDX-License-Identifier: LicenseRef-Realtek-5-Clause
#

mainmenu "realtek pandemo mainmenu"

menu "pandemo"
rsource "../../../src/Kconfig"
endmenu

config REALTEK_BT_PAN_DEMO_APP
   bool 
   default y

rsource "../../../Kconfig"
